.repos-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  padding-bottom: 20px;
}

.repos-list::after {
  content: "";
  display: block;
  margin: 20px auto;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgb(239, 239, 239);
  border-radius: 2px;
  width: 60%;
}

.repo {
  display: flex;
  gap: 20px;
  padding: 20px 15px;
  font-family: "Roboto", sans-serif;
}

.repo:nth-child(odd) {
  background-color: rgb(239, 239, 239);
}

.repo img {
  width: 120px;
  border-radius: 50%;
}

.repo .repo-name {
  margin-top: 0;
  font-weight: 500;
  word-break: break-word;
}

.repo .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.repo .desc {
  word-break: break-word;
}

.repo .stars,
.repo .issues {
  border: 1px solid;
  border-radius: 4px;
  margin-right: 10px;
  padding: 3px 7px;
}

@media screen and (max-width: 1300px) {
  .repos-list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 786px) {
  .repos-list {
    grid-template-columns: minmax(200px, 1fr);
  }

  .repo img {
    width: 90px;
  }
}

@media screen and (max-width: 576px) {
  .repo {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 2px;
  }

  .repo .desc {
    padding-inline: 20px;
  }

  .repo .stars,
  .repo .issues {
    display: block;
    width: 120px;
    margin: 10px auto;
  }
}
